<div class="jumbotron mt-sm-4">
    <h1 class="display-4">Nodejs Mongo</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ducimus ullam maxime harum dolor quos. Mollitia, esse iusto? A quo odit tempore pariatur praesentium culpa nobis voluptatum repudiandae quia illum.</p>
    <a href="https://google.com" class="btn btn-primary btn-lgs">Google</a>
</div>